In [1]:
import pandas as pd
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
mammals=pd.read_csv(r"C:\Users\archa\OneDrive\Desktop\Downloads\mammals.csv").sort_values('body')
mammals

                       Mammal      body    brain
13  Lesser short-tailed shrew     0.005     0.14
39           Little brown bat     0.010     0.25
38                      Mouse     0.023     0.40
19              Big brown bat     0.023     0.30
54                 Musk shrew     0.048     0.33
..                        ...       ...      ...
3                         Cow   465.000   423.00
21                      Horse   521.000   655.00
27                    Giraffe   529.000   680.00
18             Asian elephant  2547.000  4603.00
32           African elephant  6654.000  5712.00

[62 rows x 3 columns]

In [2]:
body=mammals[['body']].values
brain=mammals[['brain']].values
body

array([[5.000e-03],
       [1.000e-02],
       [2.300e-02],
       [2.300e-02],
       [4.800e-02],
       [6.000e-02],
       [7.500e-02],
       [1.010e-01],
       [1.040e-01],
       [1.200e-01],
       [1.220e-01],
       [2.000e-01],
       [2.800e-01],
       [4.250e-01],
       [4.800e-01],
       [5.500e-01],
       [7.500e-01],
       [7.850e-01],
       [9.000e-01],
       [9.200e-01],
       [1.000e+00],
       [1.040e+00],
       [1.350e+00],
       [1.400e+00],
       [1.410e+00],
       [1.620e+00],
       [1.700e+00],
       [2.000e+00],
       [2.500e+00],
       [3.000e+00],
       [3.300e+00],
       [3.385e+00],
       [3.500e+00],
       [3.500e+00],
       [3.600e+00],
       [4.050e+00],
       [4.190e+00],
       [4.235e+00],
       [4.288e+00],
       [6.800e+00],
       [1.000e+01],
       [1.055e+01],
       [1.483e+01],
       [2.766e+01],
       [3.500e+01],
       [3.633e+01],
       [5.216e+01],
       [5.550e+01],
       [6.000e+01],
       [6.200e+01],
       [8.500e+01],
       [1.000e+02],
       [1.600e+02],
       [1.871e+02],
       [1.920e+02],
       [2.070e+02],
       [2.500e+02],
       [4.650e+02],
       [5.210e+02],
       [5.290e+02],
       [2.547e+03],
       [6.654e+03]])

In [3]:
brain

array([[1.400e-01],
       [2.500e-01],
       [4.000e-01],
       [3.000e-01],
       [3.300e-01],
       [1.000e+00],
       [1.200e+00],
       [4.000e+00],
       [2.500e+00],
       [1.000e+00],
       [3.000e+00],
       [5.000e+00],
       [1.900e+00],
       [6.400e+00],
       [1.550e+01],
       [2.400e+00],
       [1.230e+01],
       [3.500e+00],
       [2.600e+00],
       [5.700e+00],
       [6.600e+00],
       [5.500e+00],
       [8.100e+00],
       [1.250e+01],
       [1.750e+01],
       [1.140e+01],
       [6.300e+00],
       [1.230e+01],
       [1.210e+01],
       [2.500e+01],
       [2.560e+01],
       [4.450e+01],
       [3.900e+00],
       [1.080e+01],
       [2.100e+01],
       [1.700e+01],
       [5.800e+01],
       [5.040e+01],
       [3.920e+01],
       [1.790e+02],
       [1.150e+02],
       [1.795e+02],
       [9.820e+01],
       [1.150e+02],
       [5.600e+01],
       [1.195e+02],
       [4.400e+02],
       [1.750e+02],
       [8.100e+01],
       [1.320e+03],
       [3.250e+02],
       [1.570e+02],
       [1.690e+02],
       [4.190e+02],
       [1.800e+02],
       [4.060e+02],
       [4.900e+02],
       [4.230e+02],
       [6.550e+02],
       [6.800e+02],
       [4.603e+03],
       [5.712e+03]])

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn import svm
print(body.shape)

(62, 1)

In [5]:
svm_linear=svm.SVR(kernel='linear',C=1e1)
svm_rbf=svm.SVR(kernel='rbf',C=1e1)

In [6]:
svm_linear.fit(np.log(body),np.log(brain))
svm_rbf.fit(np.log(body),np.log(brain))
logfit=LinearRegression().fit(np.log(body),np.log(brain))

C:\Users\archa\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\archa\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [9]:
mammals['lnr']=np.exp(logfit.predict(np.log(body)))
mammals['rbf']=np.exp(svm_rbf.predict(np.log(body)))
mammals['linear']=np.exp(svm_linear.predict(np.log(body)))

In [10]:
mammals

,Mammal,body,brain,lnr,rbf,linear
13,Lesser short-tailed shrew,0.005,0.14,0.157571,0.154752,0.140863
39,Little brown bat,0.010,0.25,0.265311,0.177612,0.237586
38,Mouse,0.023,0.40,0.496205,0.360732,0.445268
19,Big brown bat,0.023,0.30,0.496205,0.360732,0.445268
54,Musk shrew,0.048,0.33,0.862650,0.856244,0.775505
...,...,...,...,...,...,...
3,Cow,465.000,423.00,855.487784,632.249121,786.714918
21,Horse,521.000,655.00,931.827772,724.034112,857.158812
27,Giraffe,529.000,680.00,942.562742,737.490629,867.066229
18,Asian elephant,2547.000,4603.00,3071.786297,4162.968902,2836.744440
32,African elephant,6654.000,5712.00,6322.437045,5168.858092,5852.543050